rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/assets/{assetId} {
      allow read, delete: if request.auth != null && request.auth.uid == uid;
      allow create, update: if request.auth != null
        && request.auth.uid == uid
        && request.resource.size < 60 * 1024 * 1024
        && request.resource.contentType.matches('image/.*|video/.*');
    }
  }
}
